body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, black, #333333, #666666, #999999, #cccccc, gray);

}

main {
  width: 80%;
  margin: 20px auto;
}

h1 {
  text-align: center;
  color: #cccccc;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

button {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #e60000;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 5px 0;
}

.table-button {
  display: block;
  margin-top: 10px;
}

thead tr th {
  background-color: rgb(255, 0, 0);
}

main h1{
  text-align: left;
  font-weight: bold;
}
.btn{
  margin-top: 10px;
}

td{
  background-color: rgba(145, 220, 243, 0.644);
}

label{
  color: white;
}